 {% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
 <table class="table table-striped">
    <thead>
        <tr>
            <th>Operation</th>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transacted</th>
        </tr>
    </thead>
    <tbody>

        {% for operation in operations %}
        <tr>
            <td>{{ operation.operation }}</td>
            <td>{{ operation.symbol }}</td>
            <td>{{ operation.shares }}</td>
            <td>{{ operation.price }}</td>
            <td>{{ operation.date }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}